.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes panImage {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #081E3B #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #081E3B;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }


.panBackground {
  animation: panImage 20s infinite alternate; /* Adjust 30s to control the speed of the panning */
  background-image: url('./assets/loginBackground.webp'); /* Path to your image */
  background-size: 200% auto;
  background-repeat: no-repeat;
}


@tailwind base;
@tailwind components;
@tailwind utilities;